<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card forms">
                <h2 class="card-title text-center">Sign Up</h2>
                <div class="card-body py-md-4">
                    <form _lpchecked="1" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <span class="errorBlock" *ngIf="
                  userSubmitted ||
                  (!registrationForm.get('userName').valid &&
                    registrationForm.get('userName').touched)
                ">Name cannot be blank</span
              >
              <input
                type="text "
                class="form-control"
                formControlName="userName"
                id="name "
                placeholder="Name "
              />
            </div>
            <div class="form-group">
              <span
                class="errorBlock"
                *ngIf="userSubmitted || (!email.valid && email.touched)"
              >
                <span *ngIf="email.hasError('required')">
                  Email Address cannot be blank
                </span>
                            <span *ngIf="email.hasError('email')"> Invalid Email </span>
                            </span>
                            <input type="email " class="form-control" formControlName="email" id="email " placeholder="Email " />
                        </div>

                        <div class="form-group">
                            <span class="errorBlock" *ngIf="userSubmitted || (!password.valid && password.touched)">
                <span *ngIf="password.hasError('required')">
                  Password cannot be blank
                </span>
                            <span *ngIf="password.hasError('minlength')">
                  Password must be more than 8 characters long</span
                >
              </span>
                            <input type=" password " class="form-control" formControlName="password" id="password " placeholder="Password " />
                        </div>
                        <div class="form-group">
                            <span class="errorBlock" *ngIf="
                  userSubmitted ||
                  (!confirmPassword.valid && confirmPassword.touched)
                ">
                <span
                  class="errorBlock"
                  *ngIf="confirmPassword.errors['required']"
                >
                  Please confirm password
                </span>
                            </span>
                            <span *ngIf="
                  registrationForm.hasError('notmatched') &&
                  confirmPassword.valid
                ">
                Passwords do not match</span
              >
              <span
                *ngIf="
                  !registrationForm.hasError('notmatched') &&
                  confirmPassword.valid
                "
              >
                <div class="input-icons">
                  <i class="fas fa-check icon"></i>
                </div>
              </span>
                            <input type="password " class="form-control" formControlName="confirmPassword" id="confirm-password " placeholder="Confirm Password " />
                        </div>
                        <div class="form-group">
                            <input type="number " class="form-control" id="mobile " formControlName="mobile" placeholder="Mobile " />
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <a routerLink="/user/login">Login Instead</a>
                            <button type="submit " class="btn btn-primary">
                Create Account
              </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>