
<div class="card">
  <div class="card-img-wrapper">
    <img class="card-img-top"src="assets\image\stripper.jpg" >
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/stripper-detail/{{property.Id}}"><i class="fas fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fas fa-id-card-alt"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h3 class="card-title">{{property.Name}}</h3>
    <h5 class="card-text">{{property.Type}}</h5>
    <h5  class="card-text">{{property.Price}}</h5>
  </div>
</div>
