<div class="card">
    <div class="card-header text-center font-weight-bold">Login</div>
    <div class="card-body">
        <form (ngSubmit)="onLoginSubmit()" #Form="ngForm">
            <div class="form-group col-12">
                <input type="text" class="form-control" ngModel name="Name" placeholder="Name" #propName="ngModel" required minlength="5" />
                <span class="name-error-block" *ngIf="!propName.valid && propName.touched">
                <span *ngIf="propName.errors.required">Name is required.</span>
                <span *ngIf="propName.errors.minlength">Name must be atleast 5 character long</span>
                </span>
            </div>
            <div class="form-group col-12">
                <input type="text" class="form-control" placeholder="Password" ngModel name="Price" #propName="ngModel" required />
                <span class="price-error-block" *ngIf="!propName.valid && propName.touched">Price is required.</span>
            </div>
            <div class="form-group col-12">
                <a routerLink="/user/signUp"></a>
                <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
            </div>
        </form>
    </div>
</div>